h1 {
  text-align: center;
}

.columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#invalidMatrixWarning {
  background-color: red;
}

.buttons {
  display: flex;
  justify-content: center;
}

textarea {
  display: block;
}

#label {
  display: block;
}
